In [ ]:
stock_prices = []
with open("stock_prices.csv","r") as f:
    for line in f:
        tokens = line.split(',')
        day = tokens[0]
        price = float(tokens[1])
        stock_prices.append([day,price])

In [ ]:
stock_prices

[['march 6', 310.0],
 ['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0]]

In [ ]:
for element in stock_prices:
  if element[0]=='march 9':
    print(element[1])

302.0

In [ ]:
stock_prices[0]

['march 6', 310.0]

In [ ]:
stock_prices = []
with open("stock_prices.csv","r") as f:
    for line in f:
        tokens = line.split(',')
        day = tokens[0]
        price = float(tokens[1])
        stock_prices.append([day,price])

In [ ]:
stock_prices

[['march 6', 310.0],
 ['march 7', 340.0],
 ['march 8', 380.0],
 ['march 9', 302.0],
 ['march 10', 297.0],
 ['march 11', 323.0]]

In [ ]:
stock_prices=['march 7']

In [ ]:
def get_hash(key):
  h=0
  for char in key:
    h=h+ord(char)
    return h%100

In [ ]:
ord('a')

97

In [ ]:
get_hash('march 28')

9

In [ ]:
class HashTable:
    def __init__(self):
        self.MAX = 100
        self.arr = [None for i in range(self.MAX)]  # Initialize an array with None values

    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)  # Sum the ASCII values of the characters in the key
        return h % self.MAX  # Return the hash value modulo MAX
def get(self, key):
        h = self.get_hash(key)
        return self.arr[h]